body {
    margin: 0;
    padding: 0;
    font-family: Georgia;
}

#screen {
    line-height: 1em;
    min-height: 100%;
    white-space: pre-wrap;
}

#sourceUrl {
    min-width: 50%;
}

#source {
    background-color: #eee;
    margin: 1em 0;
    padding: 1em;
    white-space: pre-wrap;
}
